@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.share-button {
  background: $data-primary;
  height: 32px;
  box-shadow: 0 0 0 1px $ui-black-transparent;
}
